

<h1>Messages</h1>

<%= render 'home/message_form' %>

<% @messages.each do |message|%>
    <p>
    <%= message.user.username %> <br/>
    <%= message.created_at %> <br/>
    <%= message.body %>
    </p>


<% end %>